.page__content {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .page__content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .page__content {
    margin-bottom: 64px;
  }
}