.place {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 970px) {
  .place {
    gap: 73px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    gap: 50px;
  }
}